body {
    margin: 0;
}

header {
    background-color: #1B1725;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

header h1, header h3 {
    margin: 0;
}

header  h1 {
    width: 100%;
}

header h3 {
    width: 80%;
    padding-left: 5%;
}

header nav {
    background-color: #7C728B;
    width: 15%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 1%;
}

ul li {
    color: white;
    width: 20%;
    list-style: none;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    margin: 0;
}